@model Boogle.Models.BookModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idioma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idioma)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cant_Pag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cant_Pag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Generos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Generos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Eliminado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Eliminado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id_AutorNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id_AutorNavigation.Id_Autor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id_EditorNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id_EditorNavigation.Id_Editor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Libro_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
